body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a.nav-link {
    color: #242f3b;
    text-decoration: none;
}

a.nav-link:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2, h3 {
    color: #242f3b;
    margin-bottom: 20px;
}

main p {
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

.title-galeria {
    padding-bottom: 10px;
}

img.card-img-top {
    height: 200px; 
    width: 100%;   
    object-fit: cover; 
    object-position: center;
}