body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    line-height: 1.5rem;
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Para que o corpo se estenda até o final da página */

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72b1a4;
}

.conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.item {
    background-color: #abccb1;
    padding: 1rem;
    border-radius: 12px;
    margin: 1.5rem 3.5rem;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.279);

}

a {
    text-decoration: none;
    color: black;
    font-size: large;
    
}




.item a {
    text-align: center; /* Centraliza o texto horizontalmente */
    display: block; /* Para ocupar a largura total do div */
}

main{
    margin: 0% 4%;
}

h2,
h3 {
    text-align: center;
    color: #c4dbb4;
    font-weight: bold;
}

h1 {
    color: #d4e2b6;
    font-weight: bold;
}

.paragrafo {
    text-indent: 30px;
    font-weight: bold;
}

.texto {
    margin: 50px;
}

#img {
    width: 150px;
    height: 150px;
    text-align: center;
}

img {
    mix-blend-mode: multiply;
}

#logo {
    width: 300px;
    margin-top: 0px;
}

footer{
    background-color: #72b1a4;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: auto;
}