body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    line-height: 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Para que o corpo se estenda até o final da página */

}

@media (max-width: 768px) {
    body {
        width: 95%;
    }

    main{
        overflow-x: auto;
        width: 100%;
    } 
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72b1a4;
}

.conteiner {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.item {
    background-color: #abccb1;
    padding: 1rem;
    border-radius: 12px;
    margin: 1.5rem 3.5rem;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.279);

}

.item a {
    text-align: center; /* Centraliza o texto horizontalmente */
    display: block; /* Para ocupar a largura total do div */
    text-decoration: none;
    color: black;
}

main{
    /*background-color: white;
    padding: 0 20px;
    border-radius: 10px;*/
    width: 60%;
    padding: 2rem;
    margin: 1rem auto 0;
    background-color: #72b1a4;
    border: 0.8px solid #aaa;
    box-shadow: 0px 0px 5px rgb(69, 68, 68);
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bold;
    
}

#logo {
    width: 300px;
    
    margin-top: 0px;
}

img {
    mix-blend-mode: multiply;

}

h2{
    color: black;
    text-align: center;
}


table, th, td {
    border: 1px solid #000;
    background-color: #abccb1;
    margin: 0 auto;
    
}

footer{
    background-color: #72b1a4;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: auto;
}


