body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    line-height: 1.5rem;
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Para que o corpo se estenda até o final da página */

}


@media (max-width: 768px) {
    body {
        width: 95%;
    }

    main{
        width: 100%;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72b1a4;
}

.conteiner {
    display: flex;
    /*background-color: blue;*/
    justify-content: center;
    border-radius: 7px;
    flex-wrap: wrap;
    font-weight: bold;
}

.item {
    background-color: #abccb1;
    padding: 1rem;
    border-radius: 12px;
    margin: 1.5rem 3.5rem;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.279);

}

.item a {
    text-align: center; /* Centraliza o texto horizontalmente */
    display: block; /* Para ocupar a largura total do div */
}

main{
    width: 60%;
    padding: 2rem;
    margin: 1rem auto 0;
    background-color: #72b1a4;
    border: 0.8px solid #aaa;
    box-shadow: 0px 0px 5px rgb(69, 68, 68);
    border-radius: 10px;
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);*/
    box-sizing: border-box;
    font-weight: bold;
}

#logo {
    width: 300px;
    margin-top: 0px;
}

img {
    mix-blend-mode: multiply;

}

select{
    width: 100%;
    padding: 0.2rem;
    border: 1px solid #001;
    box-shadow: 0px 0px 5px rgb(49, 49, 49);
    border-radius: 3px;
    font-weight: bold;
    background-color: #abccb1;
}

.conteiner2{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    /*padding: 2rem;*/
}

.ckbox{
    margin-bottom: 1rem;
}

label{
    margin-bottom: 1rem;
}

button{
    margin-top: 1rem;
    padding: 0.2rem 1rem;
    font-weight: bold;
    background-color: #abccb1;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: #72b1a4;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: auto;
}




